services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: plataforma_laravel_app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    ports:
      - "8000:8000"
    env_file:
      - .env.docker
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mariadb:10.6
    container_name: plataforma_laravel_db
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: plataforma_ensino
      MARIADB_ROOT_PASSWORD: root
      MARIADB_USER: app
      MARIADB_PASSWORD: app
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  mysql_data:
